body 
{
    background-color: white; 
    margin: 0;
    padding: 0;
    display: flex;
}

.map
{
    flex: 70%;
}

.UI
{
    flex: 30%;
    display: flex;
    flex-direction: column;
}

.retry
{
    height: auto;
}

svg path 
{
    fill: purple;
}

svg path:hover {
    fill: rgb(83, 0, 83);
    transition: 0.3s;
    cursor: pointer;
}